body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Futura New Book', sans-serif;
  font-style: normal;

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: #fff;

    &.link-disabled {
      cursor: not-allowed;
      color: #afb6cd;

      &:hover {
        color: #afb6cd;
      }
    }
  }

  a:hover {
    text-decoration: none;
    color: #bce;
  }

  h1 {
    font-size: 56px;
    font-weight: bold;
  }

  h2 {
    font-size: 48px;
    font-weight: bold;
  }

  h3 {
    font-size: 40px;
    font-weight: bold;
  }

  h4 {
    font-size: 32px;
    font-weight: bold;
  }

  h5 {
    font-size: 24px;
    font-weight: bold;
  }

  h6 {
    font-size: 20px;
    font-weight: bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
